root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

[*.cs]

# S1125: Boolean literals should not be redundant
dotnet_diagnostic.S1125.severity = none


# StyleCop: File-scoped namespaces
csharp_style_namespace_declarations = file_scoped:error

# Campos privados com underscore
[*.cs]
dotnet_naming_rule.private_fields_should_be_begins_with_underscore.severity = suggestion
dotnet_naming_rule.private_fields_should_be_begins_with_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_begins_with_underscore.style = begins_with_underscore

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_fields.required_modifiers = 

dotnet_naming_style.begins_with_underscore.required_prefix = _
dotnet_naming_style.begins_with_underscore.capitalization = camel_case